/* ul.chains {
  position: relative;
  padding: 0;
}
ul.chains::before {
  content: "";
  position: absolute;
  border-color: rgb(107 114 128 / 0.25);
  border-style: solid;
  border-width: 0 0 1px 0;
  width: 100%;
  z-index: -1;
  top: 40px;
}
li.chain {
  display: inline-block;
  list-style-type: none;
  background-color: rgb(107 114 128 / 0.25);
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
li.chain {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

li.chain:first-child {
  margin-left: 0;
} */
